h1{
    text-align: center;
    font-size: 70px;
}
h2{
    text-align: center;
}

.btn {
    width : 200px;
    height : 200px ; 
    border-radius: 20%;
    border : 10px solid black ;
    margin: 30px;
    text-align: center;
    
}

.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: #d95980;
}
.purple{
    background-color: rgb(155, 91, 155);
}
.green{
    background-color: seagreen;
}
.yellow{
    background-color: rgb(223, 223, 92);
}
.flash{
    background-color: whitesmoke;
}